.container {
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    font-weight: bold;

}

.evento {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}

.filtros {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.filtroDia {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.datos1 {

    flex-direction: row;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    flex: 1;
}

.datos2 {
    /* Ajusta el ancho según tus necesidades */
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    flex: 1;
}

.mostrarfecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 100%;
}

.botones-dentro {
    background-color: #f0f0f0;
    margin-bottom: 5%;
    border-radius: 10px;
}

.botones {
    display: flex;
    justify-content: center;
}

.espacio {
    margin-left: 2%;
    margin-right: 2%;
}

.espacio-bajo {
    margin-bottom: 2%;
}

div>h4 {
    padding: 5px;
}

@media screen and (max-width: 568px) {
    .form-row {
        flex-direction: column;
    }

    .col {
        margin-right: 0;
    }

    .col:last-child {
        margin-bottom: 15px;
    }

    .numeroanimales {
        width: 20%;
    }

    #precio {
        width: 50%;
    }

    .evento {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .datos1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        width: 100%;
    }

    .datos2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid black;
        height: max-content;
        width: 100%;
    }

    .botones {
        padding: 5px;
    }
}