<div class="container">
    <div class="image-container">
        <img [src]="animalData?.imagen" alt="Imagen del animal">
    </div>
    <div class="separator"></div>
    <div class="data-container">
        <h2>Datos</h2>
        <ul>
            <li><strong>Crotal:</strong> {{animalData?.crotal}}</li>
            <li><strong>Nombre:</strong> {{animalData?.nombre}}</li>
            <li><strong>Número:</strong> {{animalData?.numero}}</li>
            <li><strong>Género:</strong> {{animalData?.genero}}</li>
            <li><strong>Guarismo:</strong> {{animalData?.guarismo}}</li>
            <button (click)="eliminarAnimal(animalId)">Eliminar</button>
            <button (click)="marcarComoLesionado(animalId)">Lesionado</button>
            <button (click)="editarAnimal(animalId)">Editar</button>
        </ul>
    </div>
</div>