table {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
    border-radius: 20px;
}

th,
td {
    padding: 8px;
}

tr {}



form {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea[name="observaciones"] {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

.borde {
    border: 1px solid black;
}

.borde:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media (min-width: 769px) {
    .tablaVehiculosMovil {
        display: none;
    }
}

@media (max-width: 768px) {

    .tablaVehiculosGrande {
        display: none;
    }

    table {
        display: flex;
        width: 80%;
        flex-direction: column;
    }

}