.container {
    flex: 1;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    font-weight: bold;
    width: 88%;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-collapse: collapse;
    border-radius: 20px;
    border-radius: 15px;
}

th,
td {
    padding: 8px;

}

tr {
    border-radius: 15px;
}

.container {


    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    font-weight: bold;
}

form {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea[name="observaciones"] {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

.borde {
    border: 1px solid black;
}

.borde:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.borde:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (min-width: 769px) {
    .tablaVehiculosMovil {
        display: none;
    }
}

@media (max-width: 768px) {

    .tablaVehiculosGrande {
        display: none;
    }

    table {
        display: flex;
        width: 95%;
        flex-direction: column;
    }

    .boton-formulario {
        margin-bottom: 20px;
    }

}