<header>
  <nav class="parapc">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/crearevento">Crear Eventos</a></li>
      <li><a routerLink="/evento">Eventos</a></li>
      <li><a routerLink="/animales">Animales</a></li>
      <li><a routerLink="/vehiculos">Vehiculos</a></li>
      <li><a (click)="logout()" style="color: red;">Log Out</a></li>
    </ul>
  </nav>


  <nav class="paramv">
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/crearevento">Crear Eventos</a></li>
      <li><a routerLink="/evento">Eventos</a></li>
    </ul>
    <ul style="padding-top:5px ;">
      <li><a routerLink="/animales">Animales</a></li>
      <li><a routerLink="/vehiculos">Vehiculos</a></li>
      <li><a (click)="logout()" style="color: red;">Log Out</a></li>
    </ul>

  </nav>
</header>