<header>
  <nav class="parapc">
    <ul>
      <li><a routerLink="/" class="navegador1">Inicio</a></li>
      <li><a routerLink="/crearevento" class="navegador1">Crear Eventos</a></li>
      <li><a routerLink="/evento" class="navegador1">Eventos</a></li>
      <li><a routerLink="/animales" class="navegador1">Animales</a></li>
      <li><a routerLink="/vehiculos" class="navegador1">Vehículos</a></li>
      <li><a (click)="logout()" style="color: red;" >Cerrar Sesión</a></li>
    </ul>
  </nav>


  <nav class="paramv">
    <ul style="display: flex; justify-content: center;">
      <li><a routerLink="/" class="navegador">Inicio</a></li>
      <li><a routerLink="/crearevento" class="navegador">Crear Eventos</a></li>
      <li><a routerLink="/evento" class="navegador">Eventos</a></li>
    </ul>
    <ul style=" display: flex; justify-content: center;">
      <li><a routerLink="/animales" class="navegador">Animales</a></li>
      <li><a routerLink="/vehiculos" class="navegador">Vehículos</a></li>
    </ul>
    <ul>
      <li><a (click)="logout()" style="color: red; display: flex; justify-content: center;">Cerrar Sesión</a></li>
    </ul>

  </nav>
</header>