<app-header></app-header>

<div class="container">
  <div class="row-animales">

    <div class="toros">
      <input type="text" [(ngModel)]="busquedatoro" placeholder="Buscar...">
      <select [(ngModel)]="campoBusquedaToro">
        <option value="nombre">Nombre</option>
        <option value="numero">Número</option>
        <option value="guarismo">Guarismo</option>
      </select>
      @for (animal of filtrarAnimalesToro(); track $index){
      @if (animal.datos.genero=="toro" || animal.datos.genero=="Toro" && animal.datos.lesion==false ||
      animal.datos.genero=="capon" || animal.datos.genero=="Capon") {

      <div class="toro">
        <p>Nombre: {{animal.datos.nombre}}</p>
        <p>Numero: {{animal.datos.numero}}</p>
        <p>Guarismo: {{animal.datos.guarismo}}</p>
        <button (click)="verInformacion(animal.id)">Informacion</button>
      </div>
      }
      }

    </div>
    <div class="vacas">
      <input type="text" [(ngModel)]="busquedavaca" placeholder="Buscar...">
      <!-- Select para elegir el campo de búsqueda -->
      <select [(ngModel)]="campoBusquedaVaca">
        <option value="nombre">Nombre</option>
        <option value="numero">Número</option>
        <option value="guarismo">Guarismo</option>
      </select>

      @for (animal of filtrarAnimalesVaca(); track $index) {
      @if (animal.datos.genero=="vaca" || animal.datos.genero=="Vaca"&& animal.datos.lesion==false) {

      <div class="vaca">
        <p>Nombre: {{animal.datos.nombre}}</p>
        <p>Numero: {{animal.datos.numero}}</p>
        <p>Guarismo: {{animal.datos.guarismo}}</p>
        <button (click)="verInformacion(animal.id)">Informacion</button>
      </div>
      }
      }
    </div>
  </div>


</div>

<!--**********************LESION**********************-->

<div class="lesionados">
  @for (animal of animales; track $index) {
  @if (animal.datos.lesion==true) {
  <div class="lesiones">
    <p>Nombre: {{animal.datos.nombre}}</p>
    <p>Numero: {{animal.datos.numero}}</p>
    <p>Guarismo: {{animal.datos.guarismo}}</p>
    <p>Genero: {{animal.datos.genero}}</p>
    <button (click)="marcarAnimalComoCurado(animal.id)">Curado</button>
  </div>
  }
  }

</div>



<!-- Formulario para agregar un nuevo animal -->
<form #animalForm="ngForm" class="formularioCrearAnimal" (ngSubmit)="crearAnimal(animalForm)">
  <div class="form-group">
    <label for="crotal">Crotal</label>
    <input type="number" class="form-control" id="crotal" name="crotal" required [(ngModel)]="nuevoAnimal.crotal">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="nuevoAnimal.nombre">
  </div>
  <div class="form-group">
    <label for="numero">Número</label>
    <input type="number" class="form-control" id="numero" name="numero" required [(ngModel)]="nuevoAnimal.numero">
  </div>
  <div class="form-group">
    <label for="guarismo">Guarismo</label>
    <input type="number" class="form-control" id="guarismo" name="guarismo" required [(ngModel)]="nuevoAnimal.guarismo">
  </div>
  <div class="form-group">
    <label for="genero">Género</label>
    <select class="form-control" id="genero" name="genero" required [(ngModel)]="nuevoAnimal.genero">
      <option value="Toro">Toro</option>
      <option value="Vaca">Vaca</option>
      <option value="Capon">Capon</option>
    </select>
  </div>
  <div class="form-group">
    <label for="imagen">Imagen</label>
    <input type="file" class="form-control-file" id="imagen" name="imagen" (change)="onFileSelected($event)">
  </div>

  <img *ngIf="imagenSeleccionada" [src]="imagenSeleccionada" alt="Imagen seleccionada" width="600" height="450">

  <button type="submit" class="btn btn-primary">Crear Animal</button>
</form>