.container {
    display: flex;
    justify-content: center;
    /* Alinea el contenido al centro horizontalmente */
    width: 100%;
    border: 3px solid red;
    height: 100%;
}

.row-animales {
    display: flex;
    justify-content: space-around;
    /* Alinea el contenido al centro horizontalmente */
    width: 80%;
    border: 3px solid yellow;
    height: 100%;
    gap: 20%;
    
}

.toros {
    background-color: rgb(90, 90, 90);
    width: 50%;
    height: 35em;
    border: 3px solid green;
    border-radius: 20px;
    overflow-y: scroll;
}

.vacas {
    background-color: rgb(90, 90, 90);
    width: 50%;
    height: 35em;
    border: 3px solid blue;
    border-radius: 20px;
    overflow-y: scroll;
    
}

@media screen and (max-width: 768px) {
    .row-animales {
        flex-direction: column;
        align-items: center;
    }
    .toros {
        width: 80%;
    }
    .vacas {
        width: 80%;
        margin-top: 2em;
       
    }
    
}