.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.row-animales {
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 20px;
}



.toros,
.vacas {
    background-color: rgba(255, 255, 255, 0.8);
    width: 45%;
    height: 35em;
    border: 2px solid #ccc;
    border-radius: 15px;
    overflow-y: scroll;
    flex-direction: row;

}

.vaca,
.toro {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    justify-content: space-between;
    text-align: justify;
}

.lesionados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-radius: 15px;
    border: 2px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;

}

.espaciador {
    height: 10%;
}

.lesiones {
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

.lesiones:last-of-type {
    border-bottom: solid 1px black;
}

.vaca:last-of-type {
    border-bottom: solid 1px black;
}

.toro:last-of-type {
    border-bottom: solid 1px black;
}





.animal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5em;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
}


.formularioCrearAnimal {

    width: 80%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;

}



input[type="text"],
input[type="number"],
input[type="date"],
textarea[name="observaciones"] {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .row-animales {
        flex-direction: column;
        align-items: center;
    }

    .toros {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .vacas {
        width: 100%;
        margin-top: 2em;
    }

    .lesionados {
        width: 80%;
    }

    .toro,
    .vaca,
    .lesiones {
        flex-direction: column;
    }

}