<div class="container">
    <div class="row-animales">

        <div class="toros">

            @for (animal of animales; track $index){
            @if (animal.datos.genero=="toro" && animal.datos.lesion==false || animal.datos.genero=="capon") {

            <div class="toro">
                <p>Nombre: {{animal.datos.nombre}}</p>
                <p>Numero: {{animal.datos.numero}}</p>
                <p>Guarismo: {{animal.datos.guarismo}}</p>
                <button (click)="verInformacion(animal.id)">Informacion</button>
            </div>
            }
            }

        </div>
        <div class="vacas">
            @for (animal of animales; track $index) {
            @if (animal.datos.genero=="vaca" && animal.datos.lesion==false) {

            <div class="vaca">
                <p>Nombre: {{animal.datos.nombre}}</p>
                <p>Numero: {{animal.datos.numero}}</p>
                <p>Guarismo: {{animal.datos.guarismo}}</p>
                <button><a href="/info-animales">Informacion</a></button>
            </div>
            }
            }
        </div>
    </div>


</div>

<!--**********************LESION**********************-->

<div class="lesionados">
    @for (animal of animales; track $index) {
    @if (animal.datos.lesion==true) {
    <div class="lesiones">
        <p>Nombre: {{animal.datos.nombre}}</p>
        <p>Numero: {{animal.datos.numero}}</p>
        <p>Guarismo: {{animal.datos.guarismo}}</p>
        <p>Genero: {{animal.datos.genero}}</p>
        <button>Curado</button>
    </div>
    }
    }

</div>

<form action="" method="post" class="formularioCrearAnimal">

    <label for="crotal">Crotal:</label>
    <input type="number" id="crotal" name="crotal" formControlName="crotal" required>


    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" formControlName="nombre" required>


    <label for="numero">Numero:</label>
    <input type="number" id="numero" name="numero" formControlName="numero" required>


    <label for="guarismo">Guarismo:</label>
    <input type="number" id="guarismo" name="guarismo" formControlName="guarismo" required>


    <label for="genero">Nombre del espectáculo:</label>
    <select id="genero" name="genero" formControlName="genero" required>
        <option value="toro">Toro</option>
        <option value="vaca">Vaca</option>
        <option value="capon">Capon</option>
    </select>

    
        <h2>Subir imagen</h2>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        <button (click)="uploadFile()">Subir</button>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen seleccionada">
    


    <button>Añadir</button>

</form>