@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;

  font-style: normal;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(./assets/BG10.jpg);
  background-color: grey;

}

body {
  margin: 0;

}

.containerprincipal {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background: transparent;

}

/* Estilo para el mango de la barra */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del mango */
  border-radius: 20px;
  /* Radio de borde del mango */
}

/* Estilo para el mango de la barra al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del mango al pasar el mouse */
}


.eliminar {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.eliminar:hover {
  font-weight: bold;
  background-color: rgb(146, 9, 9);
}

.editar {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: rgb(217, 217, 16);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editar:hover {
  font-weight: bold;
  background-color: #7f7f09;
}

.realizado {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: rgb(28, 156, 28);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.realizado:hover {
  font-weight: bold;
  background-color: rgb(5, 95, 5);
}

.volver {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: rgb(185, 183, 183);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.volver:hover {
  font-weight: bold;
  background-color: rgb(121, 123, 121);
}

.titulo {
  display: flex;
  justify-content: center;
}

.borde-gris {
  display: flex;
  background-color: #f0f0f0;

  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  opacity: 0.8;
  padding: 0 1em;
}

.tituloanimales {
  height: 10%;
  display: flex;
  justify-content: center;
}

.boton-formulario {
  background: linear-gradient(to right, #ff0000, #0000ff);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;

  transition: background 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.boton-formulario:hover {
  background: linear-gradient(to right, #0000ff, #ff0000);
}

.estilobotonForm {
  justify-content: center;
  display: flex;
  margin-top: 2em;
}

.botonazul {
  font-weight: bold;
  color: black;
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: rgb(86, 86, 221);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botonazul:hover {
  font-weight: bold;
  background-color: rgb(63, 63, 211);
}

.piepag {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(43, 42, 42);
}