:root{
  background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./assets/bg.jpg);
    
}



::-webkit-scrollbar {
    width: 12px; 
  }
  
 
  ::-webkit-scrollbar-track {
    background: transparent; 
    
  }
  
  /* Estilo para el mango de la barra */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color del mango */
    border-radius: 20px; /* Radio de borde del mango */
  }
  
  /* Estilo para el mango de la barra al pasar el mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del mango al pasar el mouse */
  }
  